.ourProducts {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.ourProductsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  color: #b71919;
}
.unveilTheFuture {
  margin: 0;
  width: 909px;
  position: relative;
  font-size: inherit;
  line-height: 52px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.unveilTheFutureOfCryptoMiWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 48px;
}
.exploreOurHandpicked {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  z-index: 1;
}
.frameGroup,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 1319px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.productsParent {
  width: 1536px;
  height: 472px;
  overflow-x: auto;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: 49.3px;
  z-index: 1;
}
.frameParent,
.homepageInner,
.productsParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1536px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
}
.homepageInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 128px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-family: Kanit;
}
@media screen and (max-width: 1225px) {
  .homepageInner {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .unveilTheFuture {
    font-size: 38px;
    line-height: 42px;
  }
  .productsParent {
    gap: 25px;
  }
  .frameParent {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .ourProducts {
    font-size: 16px;
    line-height: 19px;
  }
  .unveilTheFuture {
    font-size: 29px;
    line-height: 31px;
  }
  .frameParent {
    gap: 16px;
  }
  .homepageInner {
    padding-bottom: 54px;
    box-sizing: border-box;
  }
}
