.unveilingTheChronicles {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 52px;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.frameChild {
  width: 440px;
  height: 258px;
  position: relative;
  box-shadow: -3px 3px 19px 7px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 20px 0;
  background-color: #1f1f1f;
  display: none;
  max-width: 100%;
}
.frameItem,
.leonKarki {
  position: relative;
  z-index: 1;
}
.frameItem {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  object-fit: cover;
  min-height: 58px;
}
.leonKarki {
  align-self: stretch;
  line-height: 24px;
  font-weight: 500;
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameInner,
.starIcon {
  height: 21.8px;
  width: 21.8px;
  position: relative;
  min-height: 22px;
  z-index: 1;
}
.starParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.leonKarkiParent {
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}
.ellipseParent,
.frameContainer,
.leonKarkiParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  flex: 1;
  flex-direction: column;
  padding: 2.1px 0 0;
  box-sizing: border-box;
  min-width: 190px;
}
.ellipseParent {
  align-self: stretch;
  flex-direction: row;
  gap: 12px;
}
.dig4cryptoHasBeen {
  width: 352px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.rectangleParent {
  width: 440px;
  box-shadow: -3px 3px 19px 7px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 20px 0;
  background-color: #1f1f1f;
  flex-direction: column;
  justify-content: flex-start;
  padding: 33px 38px 31px 39px;
  box-sizing: border-box;
  gap: 16px;
  z-index: 1;
}
.frameWrapper,
.rectangleParent,
.unveilingTheChroniclesOfSuParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1px;
  box-sizing: border-box;
  font-size: 20px;
}
.unveilingTheChroniclesOfSuParent {
  width: 664px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 62px;
  min-width: 664px;
}
.rectangleDiv {
  width: 440px;
  height: 258px;
  position: relative;
  box-shadow: -3px 3px 19px 7px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 20px 0;
  background-color: #1f1f1f;
  display: none;
  max-width: 100%;
}
.ellipseIcon,
.georgeOwell {
  position: relative;
  z-index: 1;
}
.ellipseIcon {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  object-fit: cover;
  min-height: 58px;
}
.georgeOwell {
  align-self: stretch;
  line-height: 24px;
  font-weight: 500;
}
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7,
.frameChild8 {
  height: 21.8px;
  width: 21.8px;
  position: relative;
  min-height: 22px;
  z-index: 1;
}
.starGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.georgeOwellParent {
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}
.ellipseGroup,
.frameWrapper1,
.georgeOwellParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper1 {
  flex: 1;
  flex-direction: column;
  padding: 2.1px 0 0;
  box-sizing: border-box;
  min-width: 190px;
}
.ellipseGroup {
  align-self: stretch;
  flex-direction: row;
  gap: 12px;
}
.securityAndExpertise {
  width: 352px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.rectangleGroup {
  align-self: stretch;
  box-shadow: -3px 3px 19px 7px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 20px 0;
  background-color: #1f1f1f;
  flex-direction: column;
  justify-content: flex-start;
  padding: 33px 38px 31px 39px;
  box-sizing: border-box;
  gap: 16px;
  z-index: 1;
}
.frameDiv,
.frameGroup,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameDiv {
  width: 440px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 78px 0 0;
  box-sizing: border-box;
  min-width: 440px;
  font-size: 20px;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.rectangleIcon {
  height: 909px;
  width: 640px;
  position: absolute;
  margin: 0 !important;
  top: -602px;
  left: -355px;
  border-radius: 0 0 30px 0;
  object-fit: cover;
}
.frameChild9 {
  width: 440px;
  height: 258px;
  position: relative;
  box-shadow: -3px 3px 19px 7px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 20px 0;
  background-color: #1f1f1f;
  display: none;
  max-width: 100%;
}
.emilySmith,
.frameChild10 {
  position: relative;
  z-index: 1;
}
.frameChild10 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  object-fit: cover;
  min-height: 58px;
}
.emilySmith {
  align-self: stretch;
  line-height: 24px;
  font-weight: 500;
}
.frameChild11,
.frameChild12,
.frameChild13,
.frameChild14,
.frameChild15 {
  height: 21.8px;
  width: 21.8px;
  position: relative;
  min-height: 22px;
  z-index: 1;
}
.starContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.emilySmithParent {
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}
.ellipseContainer,
.emilySmithParent,
.frameWrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper3 {
  flex: 1;
  flex-direction: column;
  padding: 2.1px 0 0;
  box-sizing: border-box;
  min-width: 190px;
}
.ellipseContainer {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
.iCantThank {
  width: 352px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frameWrapper2,
.groupDiv,
.rectangleContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.groupDiv {
  flex: 1;
  box-shadow: -3px 3px 19px 7px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 20px 0;
  background-color: #1f1f1f;
  flex-direction: column;
  justify-content: flex-start;
  padding: 33px 38px 31px 39px;
  box-sizing: border-box;
  gap: 16px;
  z-index: 1;
}
.frameWrapper2,
.rectangleContainer {
  flex-direction: row;
}
.rectangleContainer {
  width: 440px;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper2 {
  width: 858px;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 20px;
}
.frameParent {
  width: 1447px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.homepageInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 177px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 48px;
  color: #fff;
  font-family: Kanit;
}
@media screen and (max-width: 1225px) {
  .frameDiv,
  .unveilingTheChroniclesOfSuParent {
    flex: 1;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .homepageInner {
    padding-bottom: 115px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .unveilingTheChronicles {
    font-size: 38px;
    line-height: 42px;
  }
  .unveilingTheChroniclesOfSuParent {
    gap: 31px;
    min-width: 100%;
  }
  .frameDiv {
    min-width: 100%;
  }
  .homepageInner {
    padding-bottom: 75px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .unveilingTheChronicles {
    font-size: 29px;
    line-height: 31px;
  }
  .leonKarki {
    font-size: 16px;
    line-height: 19px;
  }
  .ellipseParent {
    flex-wrap: wrap;
  }
  .unveilingTheChroniclesOfSuParent {
    gap: 15px;
  }
  .georgeOwell {
    font-size: 16px;
    line-height: 19px;
  }
  .ellipseGroup {
    flex-wrap: wrap;
  }
  .emilySmith {
    font-size: 16px;
    line-height: 19px;
  }
}
