.productListingInner,
.productsParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.productsParent {
  width: 1536px;
  overflow-x: auto;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 128px 48px;
}
.productListingInner {
  height: 1200px;
  justify-content: center;
  padding: 0 20px 128px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-family: Kanit;
}
@media screen and (max-width: 1225px) {
  .productListingInner {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .productsParent {
    gap: 24px;
  }
  .productListingInner {
    padding-bottom: 54px;
    box-sizing: border-box;
  }
}
