.dig4crypto {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
}
.shopServices {
  min-width: 112px;
  white-space: nowrap;
}
.contact,
.readBlogs,
.shopServices {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
}
.readBlogs {
  min-width: 93px;
  white-space: nowrap;
}
.contact {
  min-width: 68px;
}
.shopServicesParent {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Kanit;
}
.nav,
.navInner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.navInner {
  margin: 0;
  width: 405px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 11px 0 0;
}
.nav {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: 24px 20px;
  gap: 943px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-family: Kanit;
}
@media screen and (max-width: 1225px) {
  .nav {
    gap: 471px;
  }
}
@media screen and (max-width: 850px) {
  .navInner {
    display: none;
  }
  .nav {
    gap: 236px;
  }
}
@media screen and (max-width: 450px) {
  .nav {
    gap: 118px;
  }
}
